<header class= 'header_image'>
  <%= image_tag 'makimono.jpeg', alt:'タイトル巻物', class:'header_image'%>
  <p class='header_text'>ひすとりびあ ~教科書では教えてくれない歴史雑学~</p>
  <ul class='user_btn'>
  <li><%= link_to 'ログイン', "#", class: "login" %></li>
  <li><%= link_to '新規登録', "#" %></li>
  </ul>
</header>